/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white: #ffffff;
    --black: #000000;
    --box-shadows1: rgba(0, 0, 0, 0.1);
    --box-shadows2: rgba(0, 0, 0, 0.2);
    --box-shadows3: rgba(0, 0, 0, 0.3);
    --box-shadows10: rgba(0, 0, 0, 0.10);
    --footer-h3: #333;
    --footer-li: #666;
    --footer-li-hover: #007bff;
    --card-background: #FFF;
    --info-icon: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    max-width: 1440px;
    min-width: 320px;
    flex-wrap: wrap;

}



/****             Header style            *********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.9375rem;
    width: 100%;

    gap: 32.41256rem;
    align-self: stretch;

}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    padding: 1.875rem 3.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    margin-bottom: 1.88rem;

}

.logo-booki {
    width: 100px;
    height: auto;
}


nav {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0rem 3.125rem;
    flex-direction: column;
    gap: 4.25rem;

}

.hebergements-nav {
    color: var(--main-color);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
    position: relative;
    display: block;
    padding: 1px 9px;
}

.active::before,
header a:hover::before {
    content: '';
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 5px;
    background-color: var(--main-color)
}

/********  Search bar and filter     *********/

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    align-self: stretch;
}

.headline_text {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.search-bar {
    display: flex;
    width: 418px;
    height: 49;

    background-color: var(--white);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    position: relative;

}

.search-bar,
.filter,
.info {
    display: flex;
    align-items: center;

}


.search-form {
    display: flex;
    align-items: center;
    border: 1px var(--main-bg-color);

}

.search-input {
    padding: 11px 77px;
    font-size: 16px;
    background-color: var(--white);
}

.location-icon {
    border: 1px var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    height: 55px;
    width: 54px;
}

.search-button {
    background-color: var(--main-color);
    color: var(--filter-bg-color);
    border: 1px solid var(--main-color);
    padding: 17px 16px;
    font-size: 16px;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
}

.fa-search {
    display: none;
}

.filter-btn,
.info {
    margin: 5px;
    gap: 10px;
}



.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    gap: 0.9375rem;

}


.filter-btns {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    width: 100%;
}


.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    height: 45px;
    padding: 4px 20px;
    background-color: var(--white);
    border: 1px solid var(--main-bg-color);
}


.filter i {
    font-size: 22px;
    margin-right: 10px;
}

.filter-btn:hover {
    background-color: var(--main-bg-color);
}



.input-search input::placeholder {
    align-self: center;
}

.search-form input {
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    width: 60%;
    border: none;
    padding-left: 17px;
}

.fa-solid {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: contents;
}


#info-icon {
    border-radius: 12px;
    background-color: var(--card-background);
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid var(--info-icon);

}

/**********************       main      **********************************/

.offers {
    margin: 0 50px 60px 50px;
    display: flex;
}

.offers h2 {
    font-size: 22px;
    font-weight: 700;
}

/*----------  Hébergements à Marseille  ----------*/

.offers__main {

    height: auto;
    display: block;
}

.offers__main h2 {
    margin-bottom: 23px;
}

.card__main {
    width: calc(100% / 3);
    border: 5px solid var(--white);


    box-shadow: 0px 3px 15px var(--box-shadows2);
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    flex: 1 0 0;
    border-radius: 1.25rem;
    background: var(--card-background);

}

.card__main a {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;



}

.card__main img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 124px;
    object-fit: cover;

}

.card__main h3 {
    font-size: 16px;
    font-weight: 700;
}

.card__main p {
    font-size: 14px;
    font-weight: 400;
}



.stars__container--main i {
    margin: -2px;
    font-size: 14px;
    display: contents;
}

.card__description--main {
    padding: 4px 0 6px 11px;
}

.card__description--main>h3,
.card__description--main>p {
    margin-bottom: 9px;
}


.show-more__btn {
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 4px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.row1,
.row2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.875rem;

}

.row1 {
    margin-bottom: 30px;
}


/*----------  Les plus populaires  ----------*/

.offers__spensored {
    width: calc((100% - 40px) / 3);
    /* Un tiers de l'espace total moins 40px d'espacement */
    margin-left: 40px;
    padding: 41px 40px 1px 37px;
}

.card__spensored--container {
    display: flex;
    flex-direction: column;
}

.offers__spensored h2 {
    margin-bottom: 26px;
}

.offers__spensored-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.offers__spensored-title i {
    color: var(--main-blue);
    font-size: 18px;
}

.card__spensored {
    border-radius: 20px;
    border: 5px solid var(--white);
    box-shadow: 0px 3px 15px var(--box-shadows2);
}

.card__spensored:hover {
    box-shadow: 0px 3px 15px var(--box-shadows3);
}

.card__spensored:active {
    transform: translateY(2px);
    /* move down 2 pixels  */
}

.card__spensored a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.card__spensored img {
    height: 144px;
    width: 36%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.card__description--spensored {
    padding: 16px 22px 10px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--black);
}

.card__spensored:nth-child(n + 1) {
    margin-bottom: 33px;
}

.card__description--spensored h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
}

.card__description--spensored p {
    font-size: 14px;
    font-weight: 700;
}






/********************************************************/


.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    padding: 0rem 3.125rem;
    flex-direction: column;
    gap: 2.1875rem;
}



.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px var(--box-shadows1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;

}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;

    box-sizing: border-box;
    padding: 1.875rem;


}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/***********Activities *************/
.activities {
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    height: auto;
}

.activities h2 {
    margin-bottom: 18.47px;
    align-self: baseline;
    height: 1.87619rem;
    align-self: stretch;
    color: var(--black);
    font-family: Raleway;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card__activity {
    width: 25%;
    border-radius: 1.25rem;
    box-shadow: 0px 3px 15px 0px var(--box-shadows10);
}

.card__activity:hover {
    box-shadow: 0px 3px 15px var(--box-shadows3);

}

.card__activity a {
    text-decoration: none;
    color: var(--black);
}

.activities img {
    width: 18.59375rem;
    height: 23.75rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    background: lightgray 50% / cover no-repeat;
    object-fit: cover;
}

.card__description--activity h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 36px 21px 19px;
}

.activities-row {
    display: flex;
    flex-direction: row;
}

.card__activity:nth-child(-n + 3) {
    margin-right: 40px;
}

/************Footer******************/

footer {
    display: flex;
    padding: 45px 0px 24px 118px;

    background-color: var(--main-bg-color);
    position: relative;
    margin-bottom: -11px;
}

footer ul {
    list-style: none;

}

.footer-ul,
.footer-ul li {
    margin: 0;
    padding: 0;
}

.footer-column {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-column h3 {

    color: var(--footer-h3);
    margin-bottom: 10px;
}

.footer-ul li {
    margin-bottom: 5px;
}

.footer-ul li a {
    color: var(--footer-li);
    text-decoration: none;
}

.footer-ul li a:hover {
    color: --footer-li-hover;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .populaires-cards .card {
        width: 30%;
        height: 7rem;

    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
        height: 7rem;
    }

    /* 
    .populaires-cards .card-content {
        height: 7rem;
    } */


    body {
        padding: 0;
    }


    .headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.1875rem;
        align-self: stretch;
    }


    .search-input {
        padding: 11px 20px;
        width: 100%;
    }

    .filter-btns {
        flex-direction: row;
    }

    .filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.25rem;

    }

    .card__main {
        width: 100%;
        margin-bottom: 1.875rem;
    }

    .activities {
        width: 100%;
    }

    /*
    .activities-row {
        align-items: flex-start;
        
        align-self: stretch;
        width: 100%; 
        display: flex;
        gap: 1.875rem;
        flex-shrink: 1;

    }*/

    .card__activity {
        display: flex;
        /*
       
            padding: 1.25rem 1.1875rem;
            flex-direction: column;
            flex: 1 0 0;
                flex: 0 0 auto;
            gap: 0.625rem;
        height: 4.375rem;*/

        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        width: 19%;
        height: auto;
        border-radius: 1.25rem;
        box-shadow: 0px 3px 15px 0px var(--box-shadows10);
        padding: 0.9rem;
    }

    .card__activity:nth-child(-n + 3) {
        margin-right: 0px;
    }

    .activities img {
        width: 100%;
        height: 12.5rem;
        border-radius: 1.25rem 1.25rem 0rem 0rem;
        object-fit: cover;
    }

    .card__description--activity {
        display: flex;
        height: 4.375rem;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;
    }

    footer {
        padding: 0rem;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        padding: 0;
    }

    .header {
        display: contents;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }


    .header img {
        align-self: center;
    }

    nav {

        align-items: flex-start;
        width: 100%;
        padding: 0px;


    }


    .activity {
        display: flex;
        width: 100%;
        align-items: flex-end;
    }

    .active::before,
    header a:hover::before {

        top: 33px;

        height: 2px;

    }


    .fa-search {
        display: block;
    }

    .search-button b {
        display: none;
    }

    .filter {
        display: flex;
    }


    .firstRow {
        /* display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch; */
        order: 1;


    }

    .secondRow {
        /* display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch; */
        order: 2;
    }

    .hebergements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .populaires {
        width: 100%;
        display: flex;
        padding: 1.875rem 1.25rem;
        flex-direction: column;
        align-items: center;
        gap: 0.9375rem;
        align-self: stretch;
        flex-wrap: wrap;

    }

    .hebergements {
        order: 2;
    }

}