/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white: #ffffff;
    --black: #000000;
    --box-shadows1: rgba(0, 0, 0, 0.1);
    --box-shadows2: rgba(0, 0, 0, 0.2);
    --box-shadows3: rgba(0, 0, 0, 0.3);
    --box-shadows10: rgba(0, 0, 0, 0.10);
    --footer-h3: #333;
    --footer-li: #666;
    --card-background: #FFF;
    --info-icon: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    flex-wrap: wrap;
}

a {
    cursor: pointer;
}

/****             Header style            *********/
.header {
    display: flex;
    height: 4.9375rem;
    width: 100%;
    gap: 32.41256rem;
    align-self: stretch;
    padding-right: 0px;
    gap: 59.375rem;
    justify-content: space-around;
    flex-direction: column;
}

.logo-wrapper {
    padding: 0rem 3.125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.625rem;
}

.logo-booki {
    width: 3.81813rem;
    height: 1.1875rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.hebergements-nav,
.activities-btn {

    height: 2.1875rem;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: end;
    flex-direction: row;
}

nav li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul li a:hover {
    color: var(--main-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
    position: relative;
    display: block;
    padding: 1px 9px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4.25rem;
}


header a:hover::before {
    content: '';
    position: absolute;
    top: -24px;
    transform: translateX(-3%);
    width: 88%;
    height: 0.35rem;
    background-color: var(--main-color);
}

/********  Search bar and filter     *********/
.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    align-self: stretch;
}

.headline_text {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.search-bar {
    display: flex;
    width: 418px;
    height: 51px;
    background-color: var(--white);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    position: relative;
}

.search-bar,
.filter,
.info {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px var(--main-bg-color);
    width: 100%;
    justify-content: space-between;
}

.search-input {
    padding: 11px 77px;
    font-size: 16px;
    background-color: var(--white);
}

.location-icon {
    border: 1px var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    height: 51px;
    width: 54px;
}

.search-button {
    background-color: var(--main-color);
    color: var(--filter-bg-color);
    border: 1px solid var(--main-color);
    padding: 16px 16px;
    font-size: 16px;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
}

.fa-search {
    display: none;
}

.filter-btn,
.info {
    gap: 10px;
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    gap: 0.9375rem;
}

.filter h2 {
    margin: 0px;
}

.filter-btns {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    width: 100%;
}

.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    height: 45px;
    padding: 4px 20px;
    background-color: var(--white);
    border: 1px solid var(--main-bg-color);
}

.filter i {
    font-size: 22px;
    margin-right: 10px;
}

.filter-btn:hover {
    background-color: var(--main-bg-color);
}

.search-bar input::placeholder {
    align-self: center;
}

.search-form input {
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    width: 60%;
    border: none;
    padding-left: 17px;
}

.fa-solid {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: contents;
}

#info-icon {
    border-radius: 12px;
    background-color: var(--card-background);
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid var(--info-icon);
}

.info p {
    margin: 0px;
}

/**********************       main      **********************************/
.offers {
    margin: 0 50px 60px 50px;
    display: flex;
}

.offers h2 {
    font-size: 22px;
    font-weight: 700;
}

/*----------  Hébergements à Marseille  ----------*/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.offers__main {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.offers__main h2 {
    margin-bottom: 23px;
}

.card__main {
    border: 5px solid var(--white);
    box-shadow: 0px 3px 15px var(--box-shadows2);
    padding-bottom: 0px;
    gap: 0.25rem;
    flex: 1 0 0;
    border-radius: 1.25rem;
    background: var(--card-background);
    flex-direction: column;
    align-items: center;
    width: calc((100% / 3) - 0.9375rem);
    box-sizing: border-box;
}

.card-hotel-port {
    order: -6;
    flex: 1 0 calc(33.33% - 0.9375rem);
}

.card-hotel-amina {
    order: -5;
    flex: 1 0 calc(33.33% - 0.9375rem);
}

.card-hotel-mouettes {
    order: -4;
    flex: 1 0 calc(33.33% - 0.9375rem);
}

.card-hotel-mer {
    order: -3;
    flex: 1 0 calc(33.33% - 0.9375rem);
}

.card-auberge-canibiere {
    order: -2;
    flex: 1 0 calc(33.33% - 0.9375rem);
}

.card-auberge-panier {
    order: -1;
    flex: 1 0 calc(33.33% - 0.9375rem);
}

.card__main a {
    color: var(--black);
    text-decoration: none;
}

.card__main img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 7.75rem;
    object-fit: cover;
}

.card__main h3 {
    font-size: 16px;
    font-weight: 700;
}

.card__main p {
    font-size: 14px;
    font-weight: 400;
}

.stars__container--main i {
    margin: -2px;
    font-size: 14px;
    display: contents;
}

.card__description--main {
    padding: 4px 0px 10px 10px
}

.card__description--main>h3,
.card__description--main>p {
    margin-bottom: 9px;
}

.show-more__btn {
    padding: 0;
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: var(--black);
}


/********************************************************/
.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    padding: 0rem 3.125rem;
    flex-direction: column;
    gap: 2.1875rem;
    margin-top: 2.1875rem;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px var(--box-shadows1));
}


.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.875rem;
    gap: 1.875rem;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.hebergements-and-populaires a {
    text-decoration: none;
}


.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***********Activities *************/
.activities {
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    height: auto;
    margin-top: 2.1875rem;
}

.activities h2 {
    align-self: baseline;
    height: 1.87619rem;
    align-self: stretch;
    color: var(--black);
    font-family: Raleway;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card__activity {
    width: 25%;
    border-radius: 1.25rem;
    box-shadow: 0px 3px 15px 0px var(--box-shadows10);
}

.card__activity a {
    text-decoration: none;
    color: var(--black);
}

.activities img {
    width: 100%;
    height: 23.75rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    background: lightgray 50% / cover no-repeat;
    object-fit: cover;
}

.card__description--activity h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 36px 21px 19px;
}

.activities-row {
    display: flex;
    flex-direction: row;
    gap: 1.88rem;
}

/************Footer******************/
footer {
    display: flex;
    background-color: var(--main-bg-color);
    position: relative;
}

footer ul {
    list-style: none;
}

.footer-ul,
.footer-ul li {
    margin: 0;
    padding: 0;
}

.footer-column {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
}

.footer-column h3 {
    color: var(--black);
    margin-bottom: 10px;
}

.footer-ul li {
    margin-bottom: 5px;
}

.footer-ul li a {
    color: var(--black);
    text-decoration: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
        height: 7rem;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
        height: 7rem;
    }

    body {
        padding: 0;
    }

    .headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.1875rem;
        align-self: stretch;
    }

    .search-input {
        padding: 11px 20px;
        width: 100%;
    }

    .filter-btns {
        flex-direction: row;
    }

    .filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.25rem;
    }

    .card__main {
        width: 100%;
        margin-bottom: 0.575rem;
    }



    .activities-row {
        gap: 1.875rem;
    }

    .card__activity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        width: 23%;
        height: auto;
        border-radius: 1.25rem;
        box-shadow: 0px 3px 15px 0px var(--box-shadows10);
        padding: 0rem;
    }

    .card__activity:nth-child(-n + 3) {
        margin-right: 0px;
    }

    .activities img {
        width: 100%;
        height: 12.5rem;
        object-fit: cover;
    }

    .card__description--activity {
        display: flex;
        height: 4.375rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;
        padding-bottom: 1.1875rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        padding: 0;
        margin: 0 auto;
    }

    .main-container {
        padding: 0px;
    }

    header {
        margin: 0px;
    }

    .header {
        margin: 1.88rem 0rem 1.88rem 0rem;
    }

    .header img {
        align-self: center;
        width: 3.81813rem;
        height: 1.1875rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .logo-wrapper {
        display: flex;
        padding: 1.875rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
    }

    nav ul {
        width: 100%;
    }

    nav ul li {
        width: 50%;
    }

    .hebergements-nav,
    .activities-btn {
        height: 1.1875rem;
        width: 11.71875rem;
        flex: 1 0 0;
    }

    .active::before,
    header a:hover::before {
        top: 1.9375rem;
        transform: translateX(-38%);
        width: 88%;
        height: 0.125rem;
    }

    nav ul li a::before {
        content: '';
        position: absolute;
        top: 1.9375rem;
        width: 88%;
        transform: translateX(-36%);
        background-color: var(--main-bg-color);
        height: 0.125rem;
    }

    nav li a:hover::before {
        top: 1.9375rem;
    }

    .headline {
        margin: 0px 20px;
    }

    .search-button {
        padding: 17px 16px;
    }

    .search-button i {
        display: block;
    }

    .search-button b {
        display: none;
    }

    .search-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .search-bar input {
        width: 100%;
    }

    .filter {
        margin-top: 34px;
        gap: 1.25rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-btns {
        flex-wrap: wrap;
        row-gap: 1.25rem;
        padding: 0;
    }

    .filter-btn {
        flex: 1 1 47%;
        font-size: 14px;
        justify-content: flex-start;
        padding: 4px 16px;
    }

    #info-icon {
        width: 2.2rem;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin: 0px;
    }

    .populair {
        width: 100%;
        margin: 80px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
        height: auto;
    }

    .hebergements {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        background-color: var(--white);
    }

    .section-title {
        font-size: 20px;
    }

    .offers__main {
        flex-direction: column;
        gap: 0px;
        margin: 0px;
        gap: 1.88rem;
    }

    .card__main {
        width: 100%;
        border: 0px;
    }

    .card-hotel-port {
        order: 1;
        width: 100%;
    }

    .card-hotel-amina {
        order: 6;
        width: 100%;
    }

    .card-hotel-mouettes {
        order: 3;
        width: 100%;
    }

    .card-hotel-mer {
        order: 4;
        width: 100%;
    }

    .card-auberge-canibiere {
        order: 2;
        width: 100%;
    }

    .card-auberge-panier {
        order: 5;
        width: 100%;
    }

    .show-more__btn {
        margin-top: 0px;
        background-color: var(--white);
        display: flex;
    }

    .activities section {
        display: flex;
    }

    .activities {
        margin: 80px 20px 0 0px;
        width: 84%;
        padding-bottom: 1.88rem;
        flex-wrap: wrap;
        align-content: center;
        padding: 1.875rem;
    }

    .card__activity a {
        width: 100%;
    }

    .activities-row {
        display: flex;
        flex-direction: column;
        gap: 0.94rem;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
    }

    .card__activity {
        width: 100%;
        padding: 0px;
    }

    .activities img {
        height: 8.8125rem;
    }

    footer {
        padding: 1.875rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.8125rem;
        align-self: stretch;
    }

    .footer-column {
        padding: 0px;
        width: 100%;
    }
}